@model IEnumerable<WordsProcessingWeb.Models.Dictionary> 

@{
    ViewBag.Title = "Index";
}

<h2>Текстовый редактор</h2>

<form action="/WordsDictionary/CheckText/inputedText" method="post">
    <div>
        <textarea name="inputedText"></textarea>
    </div>

    <div>
        <input type="submit" name="submit" value="Submit" />
    </div>
</form>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}