@model IEnumerable<WordsProcessingWeb.Models.Word> 

@{
    ViewBag.Title = "ResultWords";
}


@foreach (var item in Model)
{
    <ul>
        <li>
            @Html.DisplayFor(modelItem => item.Text)
        </li>
    </ul>
}

